<div class="about">


<h1>About</h1>
<p>With the recent surge of popularity of MMA due to stars such as Conor McGregor and Ronda Rousey, I felt it would be worth going talking about some of the past, present and future stars of the sport.</p>
</div>
